.statusTable {
  width: var(--chakra-sizes-full);
  border-collapse: collapse;
}
.statusTable tr + tr {
  border-top-width: 1px;
  border-top-color: var(--chakra-colors-whiteAlpha-300);
}
.statusTable th {
  text-align: center;
}
.statusTable td {
  text-align: center;
}
